@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black : #17252A;
$darkgreen : #2B7A78;
$green : #3AAFA9;
$light: #DEF2F1;
$white: #FEFFFF;
$roboto : 'Roboto', sans-serif;
$slab : 'Roboto Slab', serif;

@mixin hoverAnimationIn {
    transform: scale(1.06);
    transition: 0.4s ease;
}

@mixin hoverAnimationOut{
    transform: scale(1.0);
    transition: 0.4s ease; 
}

body{
    font-family: $roboto;
    overflow-x: hidden;

    h1,h2,h3,h4,h5,h6{
        font-family: $roboto;
    }

}

p{
    font-family: $slab;
}


#home{
    width: 100%;
    height: 130vh;
    background: rgb(43,122,120);
    background: linear-gradient(90deg, rgba(43,122,120,1) 20%, rgba(58,175,169,1) 47%, rgba(43,122,120,1) 82%);
    background-size: cover;
    
    h5{
        font-weight: 700;
    
        &:hover{
            @include hoverAnimationIn;
            color: $light;
        }
    
        &:not(:hover){
            @include hoverAnimationOut;
        }
    }

    #login{
        text-decoration: none;
        color: $white;

        &:hover{
            text-decoration: underline;
        }
    }
    
    .btn{
        width: 5rem;
        background-color: $black; 
    
        &:hover{
            background-color: $green;
        }
    
    }

    .card{
    
        .btn{
            width: 8rem;
            background-color: $black;

            &:hover{
                background-color: $green;
            }
        }
    
        &:hover{
            @include hoverAnimationIn;
        }

        &:not(:hover){
            @include hoverAnimationOut;
        }
    }
}

.logo {
    position: relative;
    width: 4vw;
    height: 9vh;
}

.logo:hover {
    @include hoverAnimationIn;
}

.logo:not(:hover){
    @include hoverAnimationOut;
}



.gradient-custom-2 {
    background: #fccb90;
    background: linear-gradient(to left, #036666, #248277, #469D89, #67B99A);
    background-size: cover;

    .btn{
        width: 10rem;
        background-color: $black; 
    
        &:hover{
            background-color: $darkgreen;
        }
    
    }

    #login{
        text-decoration: none;
        color: $white;

        &:hover{
            text-decoration: underline;
        }
    }
    
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.log {
    width: 100%;
    margin: 0;
    padding: 0;
}