@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Roboto", sans-serif; }

p {
  font-family: "Roboto Slab", serif; }

#home {
  width: 100%;
  height: 130vh;
  background: #2b7a78;
  background: linear-gradient(90deg, #2b7a78 20%, #3aafa9 47%, #2b7a78 82%);
  background-size: cover; }
  #home h5 {
    font-weight: 700; }
    #home h5:hover {
      transform: scale(1.06);
      transition: 0.4s ease;
      color: #DEF2F1; }
    #home h5:not(:hover) {
      transform: scale(1);
      transition: 0.4s ease; }
  #home #login {
    text-decoration: none;
    color: #FEFFFF; }
    #home #login:hover {
      text-decoration: underline; }
  #home .btn {
    width: 5rem;
    background-color: #17252A; }
    #home .btn:hover {
      background-color: #3AAFA9; }
  #home .card .btn {
    width: 8rem;
    background-color: #17252A; }
    #home .card .btn:hover {
      background-color: #3AAFA9; }
  #home .card:hover {
    transform: scale(1.06);
    transition: 0.4s ease; }
  #home .card:not(:hover) {
    transform: scale(1);
    transition: 0.4s ease; }
  #home .searchinput {
    border: 1px solid #3AAFA9;
    height: 4vh;
    display: none; }
  #home .searchinputbtn {
    display: none; }

.logo {
  position: relative;
  width: 4vw;
  height: 9vh; }
  .logo:hover {
    transform: scale(1.06);
    transition: 0.4s ease; }
  .logo:not(:hover) {
    transform: scale(1);
    transition: 0.4s ease; }

.gradient-custom-2 {
  background: #fccb90;
  background: linear-gradient(to left, #036666, #248277, #469D89, #67B99A);
  background-size: cover; }
  .gradient-custom-2 .btn {
    width: 10rem;
    background-color: #17252A; }
    .gradient-custom-2 .btn:hover {
      background-color: #2B7A78; }
  .gradient-custom-2 #login {
    text-decoration: none;
    color: #FEFFFF; }
    .gradient-custom-2 #login:hover {
      text-decoration: underline; }

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important; } }
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem; } }
.log {
  width: 100%;
  margin: 0;
  padding: 0; }

.logo-hover {
  transform: rotate(200deg);
  width: 5vh;
  height: auto;
  position: absolute;
  top: 0;
  left: -8;
  display: contents;
  pointer-events: none;
  z-index: 5;
  opacity: 1;
  animation-name: shooting-star;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes shooting-star {
  0% {
    transform: translate(-100%, -100%);
    opacity: 1; }
  10% {
    transform: translate(0, 0);
    opacity: 1; }
  90% {
    transform: translate(100%, 150%);
    opacity: 1; }
  100% {
    transform: translate(500%, 200%);
    opacity: 0;
    transform: rotate(20deg); } }
#passreset {
  height: 100vh;
  background: #feffff;
  background: linear-gradient(90deg, #feffff 0%, #def2f1 50%, #feffff 100%); }

#profile {
  background-color: #eee; }
  #profile .btn {
    background-color: #2B7A78; }
    #profile .btn:hover {
      background-color: #3AAFA9; }

/*# sourceMappingURL=style.css.map */
